/* General */
@font-face {
    font-family: 'Gilroy';
    src: url('https://cdn.jsdelivr.net/gh/skb10x/Gilroy-SATV@main/Gilroy.css') format('css');
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #000;
    font-family: 'Gilroy', sans-serif;
    text-align: center;
}

/* CSS para index.html */
header, footer {
    width: 100%;
}

header {
    background-color: #00C979;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

nav {
    background-color: #018A54;
    color: #fff;
    padding: 10px 0;
}

nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav a.active {
    color: #003122;
}

nav a:hover {
    color: #003122;
}

.latest-releases {
    margin-top: 50px;
}

.latest-releases h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.release-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    flex-wrap: wrap;
}

.release-item {
    margin: 15px;
}

.release-item iframe {
    border-radius: 12px;
}

.release-item p {
    font-size: 18px;
    margin-top: 10px;
}

/* CSS para artists.html */
.artist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.artist img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px;
}

.artist p {
    font-size: 18px;
    max-width: 400px;
    text-align: center;
    margin: 20px;
}

/* CSS para contact.html */
form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    color: #00C979;
    margin-top: 0;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button.custom-btn::before {
    content: 'Enviar';
    display: block;
    position: relative;
    top: 2px;
}

button {
    background-color: #00C979;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Gilroy", sans-serif;
    display: block;
    margin: 10px auto 0;
}

button:hover {
    background-color: #003122;
}

em {
    color: #00C979;
    font-style: normal;
}

/* CSS para knowus.html */
.about-section .textbox {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0.5px 2px 2px rgba(0, 0, 0, 0.1);
}

.about-section h2,
.about-section h3 {
    margin-top: 20px;
}

.about-section h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.about-section h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.about-section p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-section a {
    font-family: "Gilroy", sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: inherit;
}

.about-section a:hover {
    color: #003122;
}

.about-section span {
    color: #00C979;
    font-weight: bold;
}

.textbox {
    background-color: #ffffff;
    transform: scale(1);
    transform-origin: center;
}

.textbox h2,
.textbox h3,
.textbox p,
.textbox a {
    margin: 0;
}

/* CSS para skbpikinfo.html */
.content {
    flex: 1;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    font-weight: 200;
    text-align: center;
    clear: both;
    margin-top: auto;
}

/* CSS para latestreleases.html */
.release-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.release-info img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.release-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.release-info p {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* CSS para skbpikinfo.html */
.content {
    flex: 1;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    font-weight: 200;
    text-align: center;
    clear: both;
    margin-top: auto;
}